<title><.= data.title .> | by <.= data.creator.name .> | <.= &date .></title>
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1"
/>
<meta name="theme-color" content="#000000" />
<meta name="twitter:app:name:iphone" content="libmedium" />
<meta property="og:site_name" content="libmedium" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content="2021-10-21T10:54:12.523Z" />
<meta http-equiv="Content-Security-Policy" content="script-src 'none'">
<meta
  name="title"
  content="Moscow state university network built by students | by Pavel Safronov | Oct, 2021 | libmedium"
/>
<meta property="og:title" content="<.= data.title .>" />
<meta property="twitter:title" content="<.= data.title .>" />
<meta name="twitter:app:url:iphone" content="medium://p/211539855cf9" />
<meta data-rh="true" property="al:android:app_name" content="libmedium" />
<meta name="description" content="<.= data.get_subtitle() .>" />
<meta property="og:description" content="<.= data.get_subtitle() .>" />
<meta property="twitter:description" content="<.= data.get_subtitle() .>" />
<meta
  property="og:url"
  content="http://<.= &*crate::SETTINGS.server.domain .>/<.= data.creator.name .>/<.= data.unique_slug .>"
/>
<meta property="og:image" content="<.= preview_img .>" />
<meta name="twitter:image:src" content="<.= preview_img .>" />
<meta name="twitter:card" content="summary_large_image" />
<meta
  property="article:author"
  content="https://medium.com/@<.= data.creator.id .>"
/>
<!--
<meta name="twitter:creator" content="@username" />
-->
<meta name="author" content="<.= data.creator.name .>" />
<meta
  data-rh="true"
  name="robots"
  content="index,follow,max-image-preview:large"
/>
<meta name="twitter:label1" content="Reading time" />
<meta name="twitter:data1" content="<.= reading_time .>min read" />
<!--
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="https://miro.medium.com/fit/c/152/152/1*sHhtYhaCe2Uc3IU0IgKwIQ.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="https://miro.medium.com/fit/c/120/120/1*sHhtYhaCe2Uc3IU0IgKwIQ.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="https://miro.medium.com/fit/c/76/76/1*sHhtYhaCe2Uc3IU0IgKwIQ.png"
/>
<link
  rel="apple-touch-icon"
  sizes="60x60"
  href="https://miro.medium.com/fit/c/60/60/1*sHhtYhaCe2Uc3IU0IgKwIQ.png"
/>
    <link
      rel="mask-icon"
      href="https://cdn-static-1.medium.com/_/fp/icons/libmedium-Avatar-500x500.svg"
      color="#171717"
    />
    -->
<link rel="author" href="https://medium.com/<.= data.creator.name .>" />
<link
  rel="canonical"
  href="http://<.= &*crate::SETTINGS.server.domain .>/<.= data.creator.name .>/<.= data.unique_slug .>"
/>
